<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
      <target name="errorLog" xsi:type="File" fileName="${basedir}/logs/error.log" />
      <target name="debugLog" xsi:type="File" fileName="${basedir}/logs/debug.log" />
      <target name="debugConsole" xsi:type="ColoredConsole"/>
      <target name="infoLog" xsi:type="File" fileName="${basedir}/logs/info.log" />
    </targets>

    <rules>
      <logger name="*" minlevel="Error" writeTo="errorLog" />
      <logger name="*" minlevel="Debug" writeTo="debugConsole" />
      <logger name="*" minlevel="Info" writeTo="infoLog" />
    </rules>
  </nlog>
  <appSettings>
    <add key="LogLevel" value="Info"/>
    <!--<add key="SupportEmail" value="support+425c85a2366f44de80e4bf9a0b4e3f51@feedback.hockeyapp.net"/>-->
    <add key="AppID" value="cce7ddc3e4294cf6bfd3dd09fe65e0bd"/>
    <add key="UnpackThreashold" value="100000000"/>
    <add key="UnpackDelayProgress" value="200000000"/>
  </appSettings>
</configuration>